#studentbg{
    position:fixed;
    left: 30%;
    top:20%;
    height: 200px;
    width: 400px;
    opacity: 0.5;
    background-color:#2980ff;
}
#webName{
    position: absolute;
    margin-left: 30%;
    margin-top: 5%;
    font-size:30px;
    font-family: Arial;
}
#userInfo{
    position: absolute;
   margin-left: 20%;
    margin-top: 20%;
}
input{
    width: 150px;
}
#submitButton{
    width: 200px;
    height: 30px;
    background-color:#3b5aff;
    font-size: larger;
    font-family: Arial;
}
span{
    color: #ff191f;
}
#returnMessage{
    color: #ff191f;
}